.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 30px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
}

.tab {
	overflow: hidden;
	border: 3px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 20px;
	margin-right:5px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.form-container {
	display: none;
	flex-direction: column;
	color: aliceblue;
}

.user-box {
	position: relative;
}

.user-box input {
	width: 100%;
	color: white;
	padding: 10px 0;
	font-size:
